html body {
    background-color: lightblue;
}

.d-block {
    width: 50%;
}

#items {
    width: 30%;
    float: left;
    padding: 20px;
}

.container-md {
    display: block;
    padding: 20px;
}